

#home_h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 80px;
    font-family: Roboto Slab;
}

#search_h1{
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
    

}

.custom-form {
    max-width: 400px; /* Adjust the maximum width as needed */
    width: 100%;
    margin: 0 auto;
  }
  


.label {

    font-family: "Roboto", sans-serif, ;
}
.fade-in {
    opacity: 0;
    animation: fade-in-animation 2s ease-in forwards;
  }
  
  @keyframes fade-in-animation {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .banner-image {
    width: 100%;
    height: auto;
  }
  
  

  .form-inline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .form-inline input {
    margin-right: 10px;
  }
  


  .ticket_h1{
    color: rgb(102, 102, 158);
  }

 

.ticket_container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius:  10px;
    border-color: rgb(102, 102, 158); 
}



.ticket_p {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.4;
  color: #666666;
}

hr {
    border: none;
    border-top: 1px solid #dddddd;
    margin: 20px 0;
}