{% extends 'base.html' %}

{% block title %} Domestic Flight Paradise {% endblock %}



{% block content %} 

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-danger" role="alert">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}



    <div class="fade-in">
    <h1  id="home_h1" class="mb-4">  Welcome To AeroSerenity</h1>


    <img  class="banner-image"src="https://rare-gallery.com/uploads/posts/5409255-flight-airplane-view-plane-wing-sun-airplane-sunrise-aerial-sunlight-glow-travel-sunset-vacation-city-view-window-tap-morning-germany-hamburg-public-domain-images.jpg">
    </div>

  

{% endblock%}