{% extends 'base.html' %}


{% block content %} 
    <h1  id="search_h1"class="display-4 mt-4 mb-4">Find Your Flight For Your Travels </h1>
    


    
{% with messages = get_flashed_messages() %}
{% if messages %}
  <div class="alert alert-success" role="alert">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  </div>
{% endif %}
{% endwith %}



<div class="row justify-content-md-center">
    <form method="POST" class="custom-form">
        {{ form.hidden_tag() }}
    
        {% for field in form if field.widget.input_type != 'hidden' %}
    
            <div class="form-group">
                {{field.label(class="label")}}
                {{field(class_="form-control")}}
              
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/user/{{id}}" class="btn btn-secondary">Cancel</a>

    </form>
   
    </div>
</div>







  {% endblock %}