{% extends 'base.html' %}


{% block content %} 
    <h1>Find Your Flight For Your Travels </h1>
    
<div class="input-group mb-4">
    <form method="POST">
        {{ form.hidden_tag() }}
    
        {% for field in form if field.widget.input_type != 'hidden' %}
    
            <div class="form-group">
                {{field.label}}
                {{field(class_="form-control")}}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Submit</button>
    
    </form>
    </div>
</div>



<!-- {% for item in flights %}
<form method="POST" action="/booking">
<ul>
   <li name="origin"> origin:{{item.origin}}</li>
   <li name="destination">destinaton: {{item.arrival}}</li>
   <li name="departure"> depature: {{item.departure_date}}</li>
   <li name="return_date"> return : {{item.return_date}}</li>
   <li name="price"> price: {{item.price}}</li>
   <li name="adults"> adults: {{item.adults}}</li>
   <button type="submit" class="btn btn-success">Book Flight</button>
</ul>
</form>
{% endfor %} -->




  {% endblock %}